---
import PCard from "../components/PCard.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const curl =
  "https://naqotdixmvkmxlfitrst.supabase.co/rest/v1/pleasant produkter?select=*";

const apikey =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hcW90ZGl4bXZrbXhsZml0cnN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjgxNjksImV4cCI6MjA1OTg0NDE2OX0.QEKabtlSzIXwoVA_69Agvl81ayHtTYi0FKWk_tb__t4";

const options = {
  headers: {
    apikey: apikey,
  },
};

const data = await fetch(curl, options).then((response) => response.json());
console.log(data);
---

<Layout>
  <Header />
  <nav class="nav">
    <a href="index.astro">Home</a> > <a href="listeview.astro">Produkter</a>
  </nav>
  <div class="btn">
    <p class="btn1">Filter</p>
    <p class="btn2">Sorter</p>
  </div>

  <PCard {data} />
</Layout>

<style>
  .nav {
    margin-left: 20px;
  }

  .btn {
    display: flex;
    margin: 16px auto;
    gap: 16px;
    max-width: 400px;
  }

  .btn1,
  .btn2 {
    flex: 1;
    padding: 10px 25px;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
  }
</style>
