---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

const curl =
  "https://naqotdixmvkmxlfitrst.supabase.co/rest/v1/pleasant produkter?select=*";

const apikey =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hcW90ZGl4bXZrbXhsZml0cnN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjgxNjksImV4cCI6MjA1OTg0NDE2OX0.QEKabtlSzIXwoVA_69Agvl81ayHtTYi0FKWk_tb__t4";

const options = {
  headers: {
    apikey: apikey,
  },
};

const data = await fetch(curl, options).then((response) => response.json());
console.log(data);
---

<Layout>
  <Header />
  <nav class="nav">
    <a href="index.astro">Home</a> > <a href="listeview.astro">Produkter</a> > <a
      href="singleview.astro">Upcycled Brown Stripes Shirt</a
    >
  </nav>
  <h1 class="productdescr">Upcycled <br />Brown Stripes Shirt</h1>
  <img src="/imgs/cali_1.webp" alt="" class="product_img" />

  <section>
    <div class="btn">
      <p class="btn1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="star"
        >
          <path
            fill-rule="evenodd"
            d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
            clip-rule="evenodd"></path>
        </svg>
        4,7 på Trustpilot
      </p>

      <p class="btn2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="truck"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
          ></path>
        </svg>
        1-3 dages levering
      </p>
    </div>

    <p class="price">699,00 DKK</p>
    <p>Vælg størrelse</p>
  </section>
</Layout>

<style>
  h1 {
    font-family: new-spirit, serif;
    font-weight: 500;
    font-style: normal;
    color: #582d93;
    font-size: 2.5rem;
    margin-left: 30px;
  }
  nav {
    font-family: new-spirit, serif;
    font-weight: 300;
    font-style: normal;
    color: #172b3a;
    font-size: 0.7rem;
    margin: 30px 0 0 30px;
  }
  .product_img {
    width: 87%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .product_img img {
    width: 100%;
    height: auto;
  }

  .btn {
    display: flex;
    margin: 16px auto auto 33px;
    gap: 16px;
    max-width: 300px;
  }

  .btn1,
  .btn2 {
    flex: 1;
    padding: 10px 10px;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    gap: 8px;
    font-size: 0.65rem;
  }

  .btn1 {
    display: flex;
    align-items: center;
  }

  .btn2 {
    display: flex;
    align-items: center;
  }

  p {
    font-family: new-spirit, serif;
    font-weight: 300;
    font-style: normal;
  }

  .star {
    flex-shrink: 0;
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }

  .truck {
    flex-shrink: 0;
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }

  .price {
    margin-left: 33px;
  }
</style>
