<section class="grid_1-1">
  <section class="hero">
    <video autoplay loop muted>
      <source src="/imgs/landing_page.mp4" type="video/mp4" />
    </video>
  </section>

  <section class="intro">
    <h1>Tag en pause fra hurtig mode</h1>
    <p>En upcycled tøjkollektion, der minder dig om, at sætte farten ned, tage en pause og nyde øjeblikket. <br /> <br /> Fordi hurtigst ikke altid er bedst.</p>
  </section>
</section>

<style>
  .video {
    object-fit: cover;
  }
  .hero {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    margin: 2rem;
  }

  .hero-image {
    width: 100%;
    display: block;
    border-radius: 30px;
  }

  .pause-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c6f6d5;
    border: 2px solid black;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    gap: 1rem;
  }

  .intro h1 {
    font-size: 30px;
    font-weight: lighter;
    color: #582d93;
  }

  @media (width >= 768px) {
    .video {
      object-fit: cover;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .hero {
      grid-column: 1/2;
    }
    .intro {
      display: block;
      grid-template-columns: 1fr;
      gap: 0px;
      margin: 50px 100px;
    }
  }
</style>
