---
const { data } = Astro.props;
---

<article>
  <img src={"/imgs/" + data.image} alt={data.imgdescr} />
  <p>{data.name}<br />{data.price} DKK<br />{data.size}</p>
</article>

<style>
  img {
    height: auto;
    width: 100%;
  }

  article {
    margin: 8px;
  }

  p {
    margin-left: 10px;
  }
</style>
