---
const { data } = Astro.props;
---

<article>
  <img src={"/imgs/" + data.image} alt={data.imgdescr} />
  <p>
    {data.name}<br />{data.price},00 DKK<br /><spanc class="size"
      >{data.size}</spanc
    >
  </p>
</article>

<style>
  img {
    height: auto;
    width: 100%;
  }

  article {
    margin: 8px;
  }

  p {
    margin-left: 10px;
  }

  .size {
    color: #582d93;
  }
</style>
